Question 1.1

In [1]:
print(3*" Aryan ")

AryanAryanAryan

Question 2.1

In [6]:
a=10
b=20
c=30
d=a+b+c



print(a,"+",b,"+",c,"=",d)

10 + 20 + 30 = 60

Question 2.2

In [2]:
a = "Erling"
b = "Braut"
c="Haaland"
d= a + str(b)+c
print (a, " + ", b,"+",c, " --> ", d)

Erling  +  Braut + Haaland  -->  ErlingBrautHaaland

Question 4.1

In [5]:

for i in range(1,11):
	print (7," * ", i , " = ", i * 7)

for i in range(1, 11):
    print(9, " * ", i, " = ", i * 9 )

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

Question 4.2

In [4]:
n=int(input('Enter the number whose table you want'))

for i in range(1, 11):
    print(n, " * ", i, " = ", i * n)

Enter the number whose table you want4
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

Question 4.3

In [7]:
n=int(input("Enter the number till where you want the sum."))
sum=0
for i in range(1,n+1):
  sum+=i

print("The sum is ",sum)

Enter the number till where you want the sum.10
The sum is  55

Question 5.1

In [8]:
a=input('Enter the first number.')
b=input('Enter the second number.')
c=input('Enter the third number.')



print("The max number is:",max(a,b,c))

Enter the first number.10
Enter the second number.20
Enter the third number.30
The max number is: 30

Question 5.2

In [9]:
n=int(input('Enter the number till you want the sum(of multiple of 7 or 9):'))
sum=0

for i in range(1,n+1):
    if i%7==0 or i%9==0:
        sum=sum+i

print(sum)

Enter the number till you want the sum(of multiple of 7 or 9):10
16

Question 5.3

In [10]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    sum = 0
    for i in range(2, n + 1):
        if is_prime(i):
            sum += i
    return sum

n = int(input("Enter a number: "))
print("Sum of all prime numbers from 1 to", n, "is:", sum_of_primes(n))

Enter a number: 10
Sum of all prime numbers from 1 to 10 is: 17

Question 6.1

In [11]:
def sum_of_odds(n):
  sum=0
  for i in range(1,n+1):
    if i%2!=0:
      sum+=i
  return sum


n = int(input("Enter a number: "))
result = sum_of_odds(n)
print("The sum of all odd numbers from 1 to ",n ,"is" ,result)

Enter a number: 10
The sum of all odd numbers from 1 to n is 25

Question 6.2

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum_of_primes(n):
    sum = 0
    for i in range(2, n + 1):
        if is_prime(i):
            sum += i
    return sum

n = int(input("Enter a number: "))
result = sum_of_primes(n)
print("The sum of all prime numbers from 1 to", n, "is", result)